/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-white: #fff;
$color-black: #000;

// Theme Colors
$color-mine-shaft: #333;
$color-burnt-sienna: #eb5757;
$color-silver: #bdbdbd;
$color-royal-blue: #2f80ed;
$color-jungle-green: #27ae60;
