/*
----------------------------------------
FONTS
*/

$font-base: "Raleway", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-size-base: rem(16);
$line-height-base: rem(28);

// font weights
$font-weight-base: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
